.main {
    background-image: url(images/another2.jpg);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
  height:100vh;
  width:100%;
  color:white;
  display: grid;
  place-content: center;
 
  
}

.main h1{
  font-size:50px;
  margin-bottom: 0;
  
}
.main h5{
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
  opacity:0.8;
}
body {
  background-color: rgb(228, 236, 235);
  margin: 0;
  padding: 0;
}

img {
  width: 350px;
  border-radius: 5px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1rem 1rem;
}

h4 {
  color: rgb(82, 39, 19);
  font-style: italic;
  font: bold;
  text-decoration: underline;
}

h3 {
  color: rgb(51, 3, 3);
  font-style: italic;
  font-weight: bold;
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2 {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: 1000;
  text-decoration: underline;
  letter-spacing:1px;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 0.9;
 letter-spacing:1px;
 font-weight: bold;
}

p {
  font-weight: lighter;
  font-size: medium;
}


iframe {
  width: 40%;
  border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-by-side {
  display: inline;
}

.content-area {
  height: 100%;



}
 

 